*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css reset is used to style everything by me and to 
ignore websites assumptions */

h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:bisque;
    border-radius: 50px;
    background-color: rgb(43, 119, 60);
    border: 20px solid green;
    text-align: center;
}
.box{
    padding: 30px;
    border: 10px solid aqua;
    border-radius: 60px;
    background-color: aquamarine;
}
p{
    color:brown;
}
.highlight, .error{
    font-size: larger;
}

#separate{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    background-color: aquamarine;
}

.container > em{
    color: blue;
}

.container ~ em{
    color: red;
}

/* .card{
    width: 300px;
    padding: 20px;
    color: white;

    /* background: linear-gradient(to right, #ff6b81, #ffb6c1); */

   /* border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
} */

.card{
    width: 300px;
    height: 200px;

    background-image: url("rafa.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}